@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using BusSchool.Models

@model Line

@{
    ViewBag.Title = "Edit Line";
}


@{
    string name = "";
}

@if (ViewBag.CurrentUser != null)
{
    name = ViewBag.CurrentUser.UserName;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Admin" asp-action="Index">DashBoard</a></li>
                <li><a asp-controller="Admin" asp-action="Trips">Trips</a></li>
                <li><a asp-controller="Admin" asp-action="Buses">Buses</a></li>
                <li><a asp-controller="Admin" asp-action="Drivers">Drivers</a></li>
                <li><a asp-controller="Admin" asp-action="Lines">Lines</a></li>
            </ul>

            @if (ViewBag.CurrentUser != null)
            {
                using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        @if (ViewBag.CurrentUser.Role == 1)
                        {
                            <li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProfile">Hello @name</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Passengers" asp-action="Booking">Booking</a></li>
                            <li>
                                <a asp-controller="Passengers" asp-action="Index">Hello @name</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }

                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Passengers" asp-action="Booking">Booking</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                </ul>
            }

        </div>
    </div>
</div>

<div class="container">
    <h2>Edit Line</h2>

    <div class="row">
        <div class="col-md-6">
           <form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="EditLine">
                

                <div class="form-horizontal">
                    <h4>Line</h4>
                    <hr />
                    
                    <input type="hidden" name="lId" asp-for="Id" />

                    <div class="form-group">
                        @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="from" asp-for="From" />
                            <span class="text-danger" asp-validation-for="From"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="to" asp-for="To" />
                            <span class="text-danger" asp-validation-for="To"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control" type="text" name="price" asp-for="Price" />
                            <span class="text-danger" asp-validation-for="Price"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.LinePicture, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="file" name="LinePictureFile" asp-for="LinePicture" />                        
                            <span class="text-danger" asp-validation-for="LinePicture"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-block btn-info" required />
                            <div>
                                <br />
                                <a class="btn btn-block btn-success" asp-controller="Admin" asp-action="Trips">Back to Trips List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <br /><br /><br />
            <img src="~/image/lines/@Model.LinePicture" title="From @Model.From To @Model.To" class="img-responsive img-thumbnail" />
        </div>
    </div>
</div>

