@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@using BusSchool.Models
@model PassengersTicketsView
@{
    ViewBag.Title = "Tickets";
}

@{
    string name = "";
}

@if (ViewBag.CurrentUser != null)
{
    name = ViewBag.CurrentUser.UserName;
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Admin" asp-action="Index">DashBoard</a></li>
                <li><a asp-controller="Admin" asp-action="Trips">Trips</a></li>
                <li><a asp-controller="Admin" asp-action="Buses">Buses</a></li>
                <li><a asp-controller="Admin" asp-action="Drivers">Drivers</a></li>
                <li><a asp-controller="Admin" asp-action="Lines">Lines</a></li>
            </ul>

            @if (ViewBag.CurrentUser != null)
            {
                using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        @if (ViewBag.CurrentUser.Role == 1)
                        {
                            <li><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                            <li>
                                <a asp-controller="Admin" asp-action="AdminProfile">Hello @name</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }
                        else
                        {
                            <li><a asp-controller="Passengers" asp-action="Booking">Booking</a></li>
                            <li>
                                <a asp-controller="Passengers" asp-action="Index">Hello @name</a>
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        }

                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-controller="Passengers" asp-action="Booking">Booking</a></li>
                    <li><a asp-controller="Account" asp-action="Register">Register</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Login</a></li>
                </ul>
            }

        </div>
    </div>
</div>


<div class="container">

    <h2>Tickets</h2>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-default pull-right">
        <span class="fa fa-dashboard fa-fw  text-info"></span> Dashboard
    </a>
    <p>Whole Tickets on System - Statistics Overview</p>

    <div class="row">
        <div class="col-md-12">
            <br /><br />
            <table class="table table-hover table-responsive" id="tickets">
                <thead>
                    <tr>
                        <th><span class="fa fa-ticket"></span> Ticket ID</th>
                        <th><span class="fa fa-user"></span>  Name</th>
                        <th><span class="fa fa-location-arrow"></span> Line</th>
                        <th><span class="fa fa-bus"></span> Bus</th>
                        <th><span class="fa fa-user-circle"></span> Driver</th>
                        <th><span class="fa fa-calendar-check-o"></span> Trip Time</th>
                        <th><span class="fa fa-calendar"></span> Booking Time</th>
                        <th><span class="fa fa-paypal"></span> Payment</th>
                        <th><span class="fa fa-dollar-sign"></span> Price</th>
                        <th>
                            @*<a href="@Url.Action("AddTicket", "Admin")" class="btn btn-link">
                            <span class="fa fa-plus fa-fw  text-info"></span> Add New Ticket
                            </a>*@
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Ticket in Model.Tickets)
                    {
                        foreach (var Passenger in Model.Passengers)
                        {
                            if (Passenger.Tickets.Contains(Ticket))
                            {
                                Model.SpecificPassenger = Passenger;
                            }
                        }
                        Model.SpecificBus = Model.Buses.Find(c => c.Id == Ticket.Trip.BusId);
                        <tr>
                            <td>@Ticket.Id</td>
                            <td><a asp-controller="Admin" asp-action="ViewPassenger" asp-route-id = "@Model.SpecificPassenger.Id">@Model.SpecificPassenger.ApplicationUser.UserName</a></td>
                            <td>From @Ticket.Trip.Line.From To @Ticket.Trip.Line.To</td>
                            <td><a asp-controller="Admin" asp-action="ViewBus" asp-route-id= "@Model.SpecificBus.Id">@Model.SpecificBus.BusNumber</a></td>
                            <td><a  asp-controller="Admin" asp-action="ViewDriver"asp-route-id ="@Model.SpecificBus.Driver.Id">@Model.SpecificBus.Driver.Name</a></td>
                            <td>@Ticket.Trip.Time</td>
                            <td>@Ticket.BookingTime</td>
                            <td>@Ticket.Payment.Method</td>
                            <td>$@Ticket.Trip.Line.Price</td>
                            <td>
                                <div class="btn-group-vertical">
                                    <a asp-controller="Admin" asp-action="ViewTicket" asp-route-pid ="@Model.SpecificPassenger.Id" asp-route-tid = "@Ticket.Id" class="btn btn-info btn-sm">View</a>
                                    @if (Ticket.IsBlocked)
                                    {
                                        @*<a href="@Url.Action("BlockTicket", "Admin", new { pid = Model.SpecificPassenger.Id, tid = Ticket.Id})" class="btn btn-success">UnBlock</a>*@
                                        <button class="btn btn-success btn-sm js-Block" data-passenger-id="@Model.SpecificPassenger.Id" data-ticket-id="@Ticket.Id">UnBlock</button>
                                    }
                                    else
                                    {
                                        @*<a href="@Url.Action("BlockTicket", "Admin", new { pid = Model.SpecificPassenger.Id, tid = Ticket.Id})" class="btn btn-warning">Block</a>*@
                                        <button class="btn btn-warning btn-sm js-Block" data-passenger-id="@Model.SpecificPassenger.Id" data-ticket-id="@Ticket.Id">Block</button>
                                    }
                                    @*<a href="@Url.Action("DeleteTicket", "Admin", new { pid = Model.SpecificPassenger.Id, tid = Ticket.Id })" class="btn btn-danger">Delete</a>*@
                                    <button class="btn btn-danger btn-sm js-delete" data-passenger-id="@Model.SpecificPassenger.Id" data-ticket-id="@Ticket.Id">Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
